<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
            <li><a href="{{ site.baseurl }}/erika-perroni/">Sobre mim</a></li>
            <li><a href="{{ site.baseurl }}/doula/">Doula</a></li>
            <li><a href="{{ site.baseurl }}/amamentacao-consultoria/">Consultoria em Amamentação</a></li>
            <li><a href="{{ site.baseurl }}/shantala-massagem-em-bebes/">Shantala</a></li>
            <li><a href="{{ site.baseurl }}/massagem-gestante/">Massagem Materna</a></li>
            <li><a href="{{ site.baseurl }}/contato/">Contato</a></li>
          </ul>
        </div>
        <p>Copyright &copy; Design &amp; Developed by <a href="http://www.themefisher.com" rel="nofollow">Themefisher</a>. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
