<!DOCTYPE html>
<html class="no-js">
  <head>

    {% include head.html %}

    <script>
        // https://github.com/filamentgroup/loadCSS
        !function(e){"use strict"
        var n=function(n,t,o){function i(e){return f.body?e():void setTimeout(function(){i(e)})}var d,r,a,l,f=e.document,s=f.createElement("link"),u=o||"all"
        return t?d=t:(r=(f.body||f.getElementsByTagName("head")[0]).childNodes,d=r[r.length-1]),a=f.styleSheets,s.rel="stylesheet",s.href=n,s.media="only x",i(function(){d.parentNode.insertBefore(s,t?d:d.nextSibling)}),l=function(e){for(var n=s.href,t=a.length;t--;)if(a[t].href===n)return e()
        setTimeout(function(){l(e)})},s.addEventListener&&s.addEventListener("load",function(){this.media=u}),s.onloadcssdefined=l,l(function(){s.media!==u&&(s.media=u)}),s}
        "undefined"!=typeof exports?exports.loadCSS=n:e.loadCSS=n}("undefined"!=typeof global?global:this)
    </script>
    <script>
      loadCSS("https://fonts.googleapis.com/css?family=Open+Sans:400,300,600");
      loadCSS("https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700");
      loadCSS("https://fonts.googleapis.com/css?family=Volkhov:400italic");
      loadCSS("{{ site.baseurl }}/css/bootstrap.min.css");
      loadCSS("{{ site.baseurl }}/css/font-awesome.min.css");
      loadCSS("{{ site.baseurl }}/css/airspace.css");
      loadCSS("{{ site.baseurl }}/css/style.css");
      loadCSS("{{ site.baseurl }}/css/ionicons.min.css");
      loadCSS("{{ site.baseurl }}/css/animate.css");
      loadCSS("{{ site.baseurl }}/css/responsive.css");
      loadCSS("{{ site.baseurl }}/css/syntax.css");
    </script>
    {% include critical.html %}

  </head>
  <body>


    {% include header.html %}


    {{ content }}









    {% include footer.html %}

    </body>

    <!-- Js -->
    <script src="{{ site.baseurl }}/js/vendor/jquery-1.10.2.min.js"></script>
    <script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
    <script src="{{ site.baseurl }}/js/min/waypoints.min.js"></script>
    <script src="{{ site.baseurl }}/js/jquery.counterup.js"></script>
    <script src="{{ site.baseurl }}/js/main.js"></script>

</html>
